.cont-list {
  margin-left: auto;
  margin-right: auto;
  border: 1;

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  text-align: left;
}

.green-select:hover {
  background-color:#90f850;
}

.pad-1 {
  padding: 1px 1px 1px 1px;
}

.marg-1 {
  margin: 1px 1px 1px 1px;
}

.state-started {
  color: lightgreen;
}
.state-stopped {
  color: magenta;
}
.state-running {
  color: green;
}
.state-stopped {
  color: orange;
}
.state-cancelling {
  color: red;
}
.state-pending{
  color: orange;  
}
.state-starting{
  color: orange;  
}
.state-stopping{
  color: orange;  
}
.state-aborting{
  color: orange;  
}
.state-freezing{
  color: orange;  
}
.state-frozen{
  color: orange;  
}
.state-thawed{
  color: orange;  
}
.state-error{
  color: red;  
}
.state-success{
  color: orange;  
}
.state-failure{
  color: red;  
}
.state-cancelled{
  color: red;  
}

 /* Remove default bullets */
ul, #myUL {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#myUL {
  margin: 0;
  padding: 0;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
